* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #647C90;
}

body{
    background-color: #FCFAF0;
}





#inserir_aluno_form {
    display: none;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 15%;
    height: 40%;
    background-color: #647C90;
}

input{
    border-radius: 20px;
    width: 90%;
    padding: 2%;
    margin-bottom: 5%;
    border: none;
}

#inserir_aluno_botao {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 45%;
    color: white;
    background-color: #4E4F50;
    border-radius: 20px;
    padding: 1%;
    border: none;
}

#fechar_add{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #647C90;
    border-radius: 20px;
    padding: 1%;
    border: none;
    justify-content: end;
    align-self: flex-end;
}

#container_campos{
    width: 100%;
    display: flex;
    gap: 4%;
    align-items: center;
}

#container_form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_fechar{
    display: flex;
    align-items: end;
}

#container_campos{
    margin-top: 2%;
    display: flex;
    align-items: center;
}

#topo{
    display: flex;
    margin: 3%;
    gap: 2%;
}

h1{
    color: #4E4F50;
}

#abrir_add{
    padding: 0.5%;
    border-radius: 20px;
    border: none;
}


.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    margin-left: 5%;
    margin-top: 5%;
}

.item p {
    color:#4E4F50;
}

.acoes {
    display: flex;
    flex-direction: row;
    gap: 25%;
    align-items: center;
}

.abrir_turma_botao {
    padding: 10%;
    border-radius: 20px;
    border: none;
}
.acoes i {
    color: #4E4F50;
}